{"ID":"1967","diagramGraphic":{"graphicList":[]},"name":"Edge","restriction":"class","wholeName":"ModelicaReference.Operators.Edge","comment":"edge","arrayFormList":[],"iconGraphicList":[],"connects":[],"extendComps":[],"includeComps":[],"superIncludeArgList":[],"parameters":[]}