{"ID":"2017","diagramGraphic":{"graphicList":[]},"name":"If","restriction":"class","wholeName":"ModelicaReference.If","comment":"if","arrayFormList":[],"iconGraphicList":[],"connects":[],"extendComps":[],"includeComps":[],"superIncludeArgList":[],"parameters":[]}