{"ID":"1991","diagramGraphic":{"graphicList":[]},"name":"Sample","restriction":"class","wholeName":"ModelicaReference.Operators.Sample","comment":"sample","arrayFormList":[],"iconGraphicList":[],"connects":[],"extendComps":[],"includeComps":[],"superIncludeArgList":[],"parameters":[]}